<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <%= comment.user.name %>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <%= date_formatter(comment.created_at)%>
    </h6>
    <p class="card-text"><%= comment.body %></p>
    <%= link_to t('app.button.destroy'), 
      article_comment_path(@article, comment),
      data: { 
        turbo_method: :delete,
        turbo_confirm: t('app.message.confirm_destroy') 
      },
      class: 'btn btn-danger btn-sm' if policy(comment).destroy?
    %>
  </div>
</div>
