<div class="p-4 mb-3 bg-light rounded">
  <h4 class="fst-italic">About</h4>
  <p style="white-space: pre-line;"
 class="mb-0">
    Hi there, 
    I'm <b>Gustavo Barreto</b> 👋
    I'm software engineer and content creator (ig: @gustavobarreto.dev)
    <br>
    Helping over 17000 people study programming through Instagram and Discord.
  </p>
</div>
