<div class="p-4">
  <h4 class="fst-italic">Elsewhere</h4>
  <ol class="list-unstyled">
    <li>
      <a href="https://github.com/barretogustavo" target="_blank">
        GitHub
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/gustavobarretodev/" target="_blank">
        LinkedIn
      </a>
    </li>
    <li>
      <a href="https://instagram.com/gustavobarreto.dev" target="_blank">
        Instagram
      </a>
    </li>

  </ol>
</div>
