<div class="col-md-4">
  <div class="position-sticky" style="top: 2rem;">
    <%= render 'about' %>
    <script 
      async 
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5794959318667913"
      crossorigin="anonymous"
    ></script>
    <!-- Ads right-side -->
    <ins 
      class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-5794959318667913"
      data-ad-slot="3899034752"
      data-ad-format="auto"
      data-full-width-responsive="true"
    ></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <%= render 'archives' %>
    <%= render 'elsewhere' %>
  </div>
</div>
