<div class="container">

  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <%= link_to render(:partial => 'layouts/logo_svg'), root_path, class: 'text-decoration-none' %>
    <div class="col-4 text-center">
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <%= render 'layouts/accounts_links' %>
    </div>
  </header>
  <div class="col-4 pt-1">
    <%= link_to "Categories", 
            categories_path, 
            class: 'link-secondary' if policy(:category).index?
        %>
  </div>

  <%= yield :category_filter %>

</div>
